:root {
  --primary-green-400: hsl(172, 67%, 45%);
  --green-900: hsl(183, 100%, 15%);
  --grey-500: hsl(186, 14%, 43%);
  --grey-400: hsl(184, 14%, 56%);
  --grey-200: hsl(185, 41%, 84%);
  --grey-50: hsl(189, 47%, 97%);
}

/* ===== RESET ===== */

html {
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p,
blockquote {
  margin-block-end: 0;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ===== BASE STYLES ===== */

main {
  margin-top: 4rem;
}

body {
  font-family:
    Space Mono,
    monospace;
  margin: auto;
  text-align: center;
  background-color: var(--grey-200);
  color: white;
}

h1 {
  font-size: 1.7rem;
  line-height: 30px;
  font-weight: 400;
  color: var(--green-900);
  margin-bottom: 3rem;
}

.app-container {
  max-width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--green-900);
  background-color: white;
  padding: 1.5rem;
}

.box1 {
  margin-bottom: 1rem;
}

/* .currency-icon {
  display: inline;
  margin-right: 3px;
} */
